@model YourNamespace.Models.Insuree

<!-- Your form HTML with validation and other fields -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Your form fields -->

    <div class="form-group">
        @* Hide the Quote field *@
        @Html.HiddenFor(model => model.Quote)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}


